@import "src/assets/styles/respond";
@import "src/assets/styles/extends";

.new-game {
  &__header {
    margin-bottom: 1rem;
  }

  &__info {
    margin-bottom: 1rem;

    > div {
      margin-bottom: .5rem;
    }

    @include media($tablet-portrait) {
      display: flex;
      align-items: center;

      > div {
        flex: 0 0 30%;
        margin: 0 1rem 0;
      }
    }
  }

  &__players {
    h3 {
      @extend %headingH2;
      margin-bottom: .5rem;
    }

    &-list {
      @extend %gridCells;
      margin-bottom: 1rem;
    }

    &-list-item {
      box-sizing: border-box;
      padding: .5rem;
      border: 1px solid var(--greenDark);
    }
  }

  .datepicker {

    @include media($tablet-portrait) {
      display: flex;
      align-items: center;

      label {
        margin-right: .5rem;
      }
    }
  }

  .react-datepicker-wrapper {
    width: 100%;
  }
}

.game-save-result-form {
  table tr {
    td {
      padding: .5rem;
    }
  }
}
