fieldset,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  line-height: inherit;
}

input,
textarea,
select,
button,
a {
  outline: none;
}
input,
textarea {
  border-radius: 0;
}
input,
button {
  box-sizing: border-box;
}
input[disabled],
button[disabled] {
  cursor: default;
}
input {
  &[type="reset"]::-moz-focus-inner,
  &[type="button"]::-moz-focus-inner,
  &[type="submit"]::-moz-focus-inner,
  &[type="file"] > input[type="button"]::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  &:-moz-ui-invalid {
    box-shadow: none;
}
  &::-ms-clear {
    display: none;
}
  &::-ms-reveal {
    width: 0;
    height: 0;
}
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  resize: none;
}
