@import "src/assets/styles/respond";
@import "src/assets/styles/extends";

.game-winners {
    margin-bottom: 2rem;


  h2 {
    flex: 1 0 100%;
    color: var(--gold);
    margin-bottom: .5rem;
    @extend %headingH2;
  }

  &__list {
    grid-gap: 1rem;
    @extend %gridCells;
  }

  &__item {
    border: 2px dashed var(--gold);
    border-radius: 4px;
    padding: .5rem;
    box-sizing: border-box;
    text-align: center;
    background: var(--greenLight);
    flex: 1 0 100%;


    @include media($tablet-portrait) {
      padding: 1rem;
      flex: 0 0 30%;
    }

  }

  &__name {
    font-size: 1.25rem;
    display: block;
    margin-bottom: .25rem;

    a {
      text-decoration: none;
    }
  }

  &__result {
    font-size: 1.25rem;
    line-height: 1.5rem;

    @include media($tablet-portrait) {
      font-size: 2rem;
      line-height: 2.25rem;
    }
  }
}
