.alert {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;

  &_danger {
    background: var(--danger);
  }

  &_success {
    background: var(--success);
  }

  &_warning {
    background: var(--goldLight);
    color: var(--greenDark);
  }
}
