@import "src/assets/styles/extends";
@import "src/assets/styles/respond";

.players-list {
  &__title {
    @extend %headingH1;
  }

  &__sorting {
    margin: 0 0 1rem 0;
  }

  &__footer {
    margin-top: 1rem;

    .btn {
      margin-left: .5rem;
    }
  }
}

.player-details {
  & > .card__header {
    h1 {
      margin-right: .5rem;
    }
  }
}

.player-stat {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;

  @include media($tablet-portrait) {
    flex-direction: row;
  }

  &__column {
    flex: 0 0 auto;
    box-sizing: border-box;

    &:first-child {
      .player-stat__group {
        border-radius: 4px 4px 0 0;
      }
    }

    &:last-child {
      .player-stat__group {
        border-radius: 0 0 4px 4px;
        border-top: 0;
      }
    }


    @include media($tablet-portrait) {
      width: 50%;


      &:first-child {
        padding-right: 1%;

        .player-stat__group {
          border-radius: 4px;
        }
      }

      &:last-child {
        padding-left: 1%;

        .player-stat__group {
          border: 1px solid var(--greenDark);
          border-radius: 4px;
        }
      }
    }
  }

  &__group {
    border: 1px solid var(--greenDark);
    background: var(--greenLight);
  }
}

.stat-group {

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--greenDark);
    }
  }
}

.player-results {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(#000, .15);

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &_collapsed {
    .player-results__body {
      display: none;
      visibility: hidden;
    }

    .player-results__header-title {
      opacity: .7;
    }
  }

  &__header {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    background: var(--greenLight);
    transition: background-color .25s;

    &:hover {
      background: var(--greenDark);
    }

    &-icon {
      svg {
        width: auto;
        height: 1.5rem;
        fill: var(--gold);
        display: block;
        margin-right: .5rem;
      }
    }

    &-title {
      flex-grow: 1;
      cursor: pointer;

      @include media($tablet-portrait) {
        font-size: 1.2rem;
      }
    }

    &-result {
      margin-left: auto;
    }
  }
}

.player-chart {
  width: 100%;

  &__content {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(#000, .2);
  }

  &__legend {
    margin-top: .25rem;
    font-size: .8rem;
    text-align: center;

    span {
      &:first-child {
        display: block;

        @include media($phone-big) {
          display: inline-block;
        }
      }

      &:not(:last-child) {
        margin-right: .5rem;

        &::after {
          content: '\2022';
          margin-left: .5rem;
          display: none;
          @include media($phone-big) {
            display: inline-block;
          }

        }
      }
    }
  }

  &__value {
    text-align: center;
    font-size: .625rem;
    padding: .1875rem;
    line-height: 1;
    white-space: nowrap;
    min-width: 3rem;
  }

  &__win {
    background: var(--success);
  }

  &__loose {
    background: var(--danger);
  }
}
