@import "src/assets/styles/extends";

.chart-page {
  &__content {
    height: 500px;
    background: var(--bodyColor);
    overflow: hidden;
    border-radius: 4px;
  }

  &__settings {
    margin-top: 1rem;

    &-list {
      @extend %gridCells
    }

    &-list-item {
      //flex: 0 0 20%;
      //box-sizing: border-box;
      padding: .25rem;
    }
  }
}
