@import "src/assets/styles/respond";

.main-header {
  position: relative;
  padding-top: 3.5rem;

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5rem;
    background: #fff;
    padding: .5rem 2rem 0;
    border-radius: 4px 4px 0 0;

    svg {
      width: auto;
      height: 2rem;
    }

    a {
      display: block;
    }
  }

  &__menu {
    padding: 1rem .5rem;
    background: linear-gradient(#fff, darken(#fff, 8));
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(#000, .5);

    @include media($phone-big) {
      padding: 1rem;
    }
  }
}

.main-menu {
  display: flex;
  justify-content: space-between;

  @include media($tablet-portrait) {
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: .25rem;
    }
  }

  &__icon {
    display: block;
    width: auto;
    height: 1rem;

    @include media($phone-medium) {
      height: 1.5rem;
    }

    g {
      fill: currentColor;
    }
  }

  &__link {
    color: var(--greenDark);
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    transition: color .2s;
    align-items: center;
    flex-direction: column;
    padding: .5rem 1rem;

    @include media($phone-large) {
      padding: .5rem 1rem;
    }

    @include media($tablet-portrait) {
      padding: .5rem 2rem;
      font-size: 1rem;
    }

    @include media($tablet-landscape) {
      flex-direction: row;
    }

    span {
      display: none;
      visibility: hidden;

      @include media($phone-big) {
        text-align: center;
        line-height: 1;
        padding: .2rem 0 0;
        display: block;
        visibility: visible;
        margin: .5rem auto 0;
      }

      @include media($tablet-landscape) {
        margin: 0 0 0 .5rem;
      }
    }

    &.active {
      color: var(--gold);
      background: #eee;
      border-radius: 4px;
      box-shadow: inset 0 0 4px rgba(#000, .2);
    }

    &:hover {
      color: var(--gold);
    }
  }
}
