@import "src/assets/styles/respond";

.page-container {
  &_size {
    &_base {
    }

    &_wide {
      .page-container__body {
        max-width: none!important;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  &__body {
    background: var(--green);
    border: 8px solid var(--gold);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(#000, .5);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @include media($tablet-landscape) {
      flex-direction: row;
    }
  }

  &__aside {
    flex: 0 0 auto;
    width: 100%;
    background: var(--greenDark);
    order: 2;

    @include media($tablet-landscape) {
      width: 25%;
      order: 1;
    }
  }

  &__content {
    flex: 0 0 auto;
    padding: .5rem;
    box-sizing: border-box;
    width: 100%;

    order: 1;

    @include media($tablet-portrait) {
      padding: 1rem;
    }

    @include media($tablet-landscape) {
      order: 2;
    }

    &_with_aside {
      width: 100%;

      @include media($tablet-landscape) {
        width: 75%;
        position: relative;
        z-index: 5;

        &::after {
          user-select: none;
          content: '';
          position: absolute;
          width: 16px;
          top: 0;
          bottom: 0;
          left: -16px;
          z-index: 5;
          background: linear-gradient(90deg, rgba(#000, 0), rgba(#000, .15));
        }
      }
    }
  }
}
