@import "src/assets/styles/respond";

.list-group {
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid var(--green);
    }

    a {
      display: block;
      padding: .75rem 1rem;
      transition: background-color .2s;
      text-decoration: none;

      &:hover {
        background: rgba(#000, .1);
      }
    }

    &_active {
      background: var(--gold);

      a:hover {
        background: none;
      }
    }
  }
}

.list-group__title {
  font-size: 1.2rem;
  text-align: center;
  padding: .5rem 0;
  border-top: 1px solid var(--greenLight);
  margin: 0 1rem;

  @include media($tablet-landscape) {
    display: none;
    visibility: hidden;
  }
}
