@import "respond";
@import "reset/main";
@import "reset/inputs";
@import "reset/reset";

@import "document";
@import "card";
@import "table";
@import "badge";
@import "btn";
@import "forms";
@import "tabs";

html, body {
  height: 100%;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;

  @include media($desktop) {
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    margin-bottom: 1.5rem;
  }

  &__body {
    flex: 1 0 auto;
  }

  &__footer {
    padding: 1rem;
    text-align: center;
  }
}
