.badge {
  display: inline-block;
  padding: .25rem .625rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;

  &_success {
    background: var(--success);
  }

  &_danger {
    background: var(--danger);
  }

  &_info {
    background: var(--info);
  }
}
