.btn {
  text-decoration: none;
  display: inline-block;
  padding: .375rem 1rem;
  border: 1px solid var(--gold);
  background-color: var(--gold);
  background-image: linear-gradient(180deg, var(--gold) 0%, var(--goldDark) 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), inset 0 1px 0 0 #A48217, inset 0 2px 0 0 rgba(255, 255, 255, 0.19);
  border-radius: 4px;
  color: var(--goldDarken);
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color .2s;
  text-shadow: 1px 1px 0 rgba(#fff, .15);

  &:hover {
    background: var(--gold);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.20), inset 0 1px 0 0 #A48217, inset 0 2px 0 0 rgba(255, 255, 255, 0.19);
  }

  &.active {
    background: var(--gold);
    box-shadow: inset 0 2px 5px rgba(#000, .3)
  }

  + .btn {
    margin-left: 1rem;
  }
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .8rem;
}




.btn-danger {
  background: var(--danger);
  box-shadow: none;
  color: var(--bodyColor);
  text-shadow: 1px 1px 0 rgba(#000, .15);
  border-color: rgba(#000, .5);
}

.btn-group {
  .btn {
    box-shadow: inset 0 1px 0 0 #A48217, inset 0 2px 0 0 rgba(255, 255, 255, 0.19);
    border-radius: 0;
    margin-right: -1px;

    + .btn {
      margin-left: 0;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.btn-outline-info {
  background: none;
  color: var(--bodyColor);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), inset 0 1px 0 0 var(--greenDark), inset 0 2px 0 0 rgba(255, 255, 255, 0.19);
  border: 1px solid var(--greenDark);

  .btn-group & {
    box-shadow: inset 0 1px 0 0 var(--greenDark), inset 0 2px 0 0 rgba(255, 255, 255, 0.19);
  }

  &:hover {
    background-color: var(--greenDark);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), inset 0 1px 0 0 var(--greenDark), inset 0 2px 0 0 rgba(255, 255, 255, 0.19);
  }

  &.active {
    background-color: rgba(#000, .2);
    text-shadow: none;
  }
}

.action-button {
  padding: .5rem;
  margin: .5rem;

  .btn {
    width: 100%;
    text-align: center;
  }
}
