@import "extends";
@import "respond";

.card {
  &__header {
    border-bottom: 1px solid var(--greenDark);
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    padding-bottom: .5rem;

    flex-direction: column;

    @include media($tablet-portrait) {
      flex-direction: row;
    }

    h1 {
      @extend %headingH1;
    }
  }

  &__body {
    padding: .5rem 0;
  }

  .ms-auto {
    @include media($tablet-portrait) {
      margin-left: auto;
    }
  }
}
