html, body {
  margin: 0;
  height: 100%;
}

:root {
  --maxWidth: 1024px;
  --fontSize: 16px;
  --lineHeight: 20px;
  --bodyColor: #EBF4DA;
  --green: #3B4724;
  --greenLight: #46532D;
  --greenDark: #2D3819;
  --gold: #A48217;
  --goldDark: #8E6F0F;
  --goldDarken: #413404;
  --goldLight: #E0B429;

  //--success: #7E9256;
  --success: #759539;
  --danger: #7C3A3A;
  --dangerContrast: #A37373;
  --info: #4B708F;

}

.document {
  -webkit-text-size-adjust: none;
  font-size: 16px;

  &__body {
    background: linear-gradient(#58440A, #332705) no-repeat fixed;
    font: 1rem/1.25rem Helvetica, Arial, sans-serif;
    color: var(--bodyColor);

    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('../images/body_bg.png');
      background-size: 175px;
      opacity: .2;
      z-index: -1;
    }
  }
}

a {
  color: var(--bodyColor);

  &:hover {
    text-decoration: none;
  }
}


