%headingH1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
}

%headingH2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

%gridCells {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}
