@import "respond";

label {
  display: inline-block;
}

.form-group {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  > label {
    margin-bottom: .25rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bodyColor);
  background-color: var(--greenDark);
  background-clip: padding-box;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0 2px 5px rgba(#000, .2);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-radius: 4px;

  &.is-invalid {
    border-color: var(--danger);
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0 2px 5px rgba(#000, .2), 0 2px 0 var(--danger), 0 -2px 0 var(--danger), 2px 0 0 var(--danger), -2px 0 0 var(--danger)
  }
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: var(--dangerContrast);
}

.is-invalid ~ .invalid-feedback {
  display: block;
}

.form {
  &_compact {
    @include media($tablet-portrait) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__actions {
    margin-top: 1.5rem;

    .btn {
      display: block;
      width: 100%;
      margin: 0 0 .5rem;

      + .btn {
        margin: 0 0 .5rem;
        @include media($phone-big) {
          margin: 0 0 0 .5rem;
        }
      }

      @include media($phone-big) {
        width: auto;
        display: inline-block;
        margin: 0;
      }
    }
  }
}

.form-check {
  height: 1rem;

  input {
    display: none;
    visibility: hidden;

    &:checked + label {
      opacity: 1;

      &::before {
        background-image: url('../images/checkbox_checked.svg');
      }
    }
  }

  > label {
    display: inline-flex;
    align-items: flex-start;
    line-height: 1;
    opacity: .8;

    &::before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      min-width: 1rem;
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;
      background: url('../images/checkbox.svg');
      background-size: 100%;
      opacity: .8;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.form-select {
  padding: .5rem 1rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bodyColor);
  background-color: var(--greenDark);
  background-clip: padding-box;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0 2px 5px rgba(#000, .2);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-radius: 4px;
}

