$phone              : '(min-width : 321px)';
$phone-medium       : '(min-width : 351px)';
$phone-large        : '(min-width : 401px)';
$phone-big          : '(min-width : 470px)';
$tablet-portrait    : '(min-width : 730px)';
$tablet-landscape   : '(min-width : 1020px)';
$desktop            : '(min-width : 1136px)';
$desktop-maximum    : '(min-width : 1360px)';

@mixin media($media) {
  @media #{$media} {
    @content;
  }
}

@mixin placeholder() {
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
