.table {
  width: 100%;

  &_highlight {
    background: rgba(0, 0, 0, .15);
  }

  tr {
    th, td {
      text-align: left;
      vertical-align: middle;
      padding: .75rem;
      border-bottom: 1px solid var(--greenDark);
    }
  }

  tr {
    .center {
      text-align: center;
    }
  }

  tr th {
    background: rgba(#000, .25);
    border-bottom: 2px solid var(--greenLight);
  }

  &_bordered {
    border: 1px solid var(--greenDark);
  }

  &_success {
    td {
      background: var(--success);
    }
  }

  &_danger {
    td {
      background: var(--danger);
      border-color: darken(#7C3A3A, 8) !important;
    }
  }

  .fw-bold {
    font-weight: bold;
  }
}

.table-responsive {
  overflow-x: auto;
}

.table-warning {
  td {
    background: rgba(#000, .15);
  }
}

.table-hover {
  tr {
    &:hover {
      td {
        background-color: rgba(#000, .08);
      }
    }

    &.table_success {
      &:hover {
        td {
          background-color: darken(#759539, 8);
        }
      }
    }

    &.table_danger {
      &:hover {
        td {
          background-color: darken(#7C3A3A, 8);
        }
      }
    }
  }
}
