.tabs {
  display: flex;
  border-bottom: 1px solid var(--greenDark);
  padding-bottom: .25rem;

  &__item {
    font-size: .825rem;
    cursor: pointer;
    background: none;
    border: 0;
    color: var(--bodyColor);
    position: relative;
    padding: .25rem .825rem .25rem .25rem;
    opacity: .7;
    transition: all .2s;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    &:hover {
      opacity: .9;
    }

    &_active {
      opacity: 1;

      &::after {
        position: absolute;
        content: '';
        background: var(--bodyColor);
        height: 4px;
        left: 0;
        right: 0;
        bottom: -6px;
      }
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 12px;

    path {
      fill: var(--bodyColor)
    }

    &_asc {
      path {
        &:nth-child(1) {
          opacity: .7;
        }

        &:nth-child(2) {
          fill: var(--bodyColor)
        }
      }
    }

    &_desc {
      path {
        &:nth-child(2) {
          opacity: .7;
        }

        &:nth-child(1) {
          fill: var(--bodyColor)
        }
      }
    }
  }
}
