@import "src/assets/styles/respond";

.home-page {
  p {
    &:not(:last-child) {
      margin-bottom: .625rem;
    }
  }

  &__image-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1rem;

    @include media($tablet-portrait) {
      margin-bottom: 0;

    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  .row {

    @include media($tablet-portrait) {
      display: flex;
    }

    &__image {
      flex: 0 0 45%;
    }

    &__text {
      box-sizing: border-box;

      @include media($tablet-portrait) {
        padding: 2rem 0 0 1rem;
      }
    }
  }
}
