.pagination {
  display: flex;
  border-top: 1px solid var(--greenLight);
  margin: 1rem 0;
  padding-top: 1rem;
  justify-content: center;

  &__item {
    margin: 0 .15rem;

    &_active {
      span {
        background-color: var(--gold);
        border-color: var(--gold);
      }
    }
  }

  &__link {
    display: block;
    padding: .313rem .8rem;
    cursor: pointer;
    border: 1px solid var(--goldDark);
    border-radius: 4px;
    font-size: .8rem;
    user-select: none;
  }
}
